* {
    margin : 0;
    padding : 0;
}

.content-wrapper {
    width : 1000px;
    margin : 0 auto;
    overflow : hidden;
}

.button-wrapper {
    margin-top : 30px;
    margin-bottom : 30px;
}

.slider-wrapper{
    margin : 0 auto;
    overflow : hidden;
}

.slider-small {
    width : 500px;
}

.slider-large {
    width : 1000px;
}


.slider-small .image-wrapper img {
    width : 500px;
}

.slider-large .image-wrapper img {
    width : 1000px;
}

.image-wrapper {    
    width : 3000px;
    float : left;
}

.image-wrapper ul li {
    float : left;
    list-style : none;
}

.image-wrapper img {
/*    width:1000px;    */
    float : left;
    height : 500px;
}

 
